streamlit==1.60.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.9.0
joblib==1.4.2
spacy==3.7.5
openpyxl==3.1.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl